body {
	background-color: black;
	text-align: center;
	color: white;
}
#container {
	margin: auto;
	text-align: left;
	background-image: url('images/aaaa1.JPG');
	background-repeat: no-repeat;
	padding-left: 129px;
}
#containermini {
	background-image: url('images/bbbb1.JPG');
	background-repeat: no-repeat;
	background-position: 100% 0;
	padding-right: 127px;
}
#header {
}
#content {

	background-image: url('images/bg33.gif');
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-color: #202020;
}
#menu {
	margin: 0px 0 0px 0;
	padding: 0;
	z-index: 30;
	height: 45px;
}
#menu li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 45px;
	background-image:  url('images/menu1.JPG');
}
#menu li a {
	text-decoration: none;
	color: #CCCCCC;
	margin: 0;
	padding: 10px 10px 4px 10px;
	width: 204px;
	text-align: center;
	background-image:  url('images/menu1.JPG');
	height: 29px;
	display: block;
}
#menu li a:hover {
	background-image: url('images/arrow4.JPG');
	background-repeat: no-repeat;
	background-position: 50% 86%;
	color: white;
}
#left {
	margin: 0;
	width: 280px;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
	background-image: url('images/md_bg.png');
}
.bogoc {
	margin-left: 15px;
	background-image: url('images/bg_ttsk.gif');
	background-repeat: no-repeat;
	padding-bottom: 10px;
	width: 219px;
	background-color: #222222;
	margin-bottom: 10px;
}
.bogoc h3 {
	text-align: center;
	background-image: url('images/title1.JPG');
	height: 27px;
	width: 219px;
	margin-top: 0;
}
.bogoc img {
	border-style: solid;
	border-bottom-color: black;
	border-top-color: black;
	margin-left: 6px;
}
.bogoc ul {
	margin: 10px 0 10px -30px;
	list-style-type: none;
}
.bogoc li {
	background-image: url('images/icon.gif');
	background-repeat: no-repeat;
	padding-left: 20px;
}
#right {
	width: 617px;
	float: left;
}
.noidung {
	margin-top: 25px;
}
.noidung h3 {
	background-image: url('images/bgtde.gif');
	height: 50px;
	background-repeat: no-repeat;
	padding-left: 25px;
	padding-top: 7px;
}
.noidung p{
	padding:0 10px 10px 10px;
    
}
#footer {
	clear: both;
}
#cuoi
{
	background-image:url('images/footer_bg.gif');
	height:74px;
}
#cuoi p
{   
}

/*CSS Ver 3.0*/

@font-face{
    font-family: LOLBeauFont;
    src: url(fonts/BeaufortforLOL-Regular.woff);
}

/*Menu*/

.main-menu{
    justify-content:center;
    display:flex;
    border-bottom:1px solid #463714;
}

.container-menu{
    background-color:black;
}

.main-icon{
    border-radius:50%;
    background-color: #4d65e3;
    padding:15px !important;
}



.main-icon img{
    width:60px;
}

.navbar.navbar-default{
    border:none;
}

.navbar .navbar-nav{
    display:flex;
    align-items:center;
}

.navbar-default .navbar-nav > li > a{
    color: #4d65e3;
    padding:25px;
    font-family:LOLBeauFont;
    font-size:18px;
    font-weight:bold;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
    background-color:inherit !important;
    color: #f45b5b;
    display: block;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #f45b5b;
}

.navbar-default .navbar-nav > li > a:focus:before, .navbar-default .navbar-nav > li > a:hover:before{
    content: '\00a0';
    background: radial-gradient(50px 25px at 50px 25px,#f02e26 0,rgba(203,195,180,0) 100%) !important;
    position:absolute !important;
    left: 50% !important;
    width:100% !important;
    margin-left: -50px !important;
    height:25px !important;
    bottom:0 !important;
}

.navbar-default .navbar-nav > .active > a::before, .navbar-default .navbar-nav > .active > a:focus::before, .navbar-default .navbar-nav > .active > a:hover::before{
   content: '\00a0';
    background: radial-gradient(50px 25px at 50px 25px,#f02e26 0,rgba(203,195,180,0) 100%);
    position:absolute;
    left: 50%;
    width:100%;
    margin-left: -50px;
    height:25px;
    bottom:0;
}

.main-logo a:hover{
    border-radius:50%;
    background-color: #f02e26 !important;
}

/*Menu Item Diviver*/
.item-diviver{
    opacity: .55;
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 1px;
    position: relative;
}

.item-diviver::after{
    content: '\00a0';
    display: block;
    margin-top: -20px;
    width: 100%;
    height: 50px;
    background: linear-gradient(0deg,rgba(109,92,54,0) 0,#4d65e3 50%,rgba(109,92,54,0) 100%);
    position: absolute;
    top: 50%;
}

#mySidenav{
    position:fixed;
    right:0;
    z-index:10;
}

/*Menu right*/
#mySidenav a {
    position: absolute;
    right: -100px;
    transition: 0.3s;
    padding: 15px;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    z-index:10;
    opacity:0.5;
}

#mySidenav a:hover {
    right: 0;
    opacity:1;
}

#about {
    top: 40px;
    background-color: #4CAF50;
}

#blog {
    top: 100px;
    background-color: #2196F3;
}

#projects {
    top: 160px;
    background-color: #f44336;
}

#contact {
    top: 220px;
    background-color: #555
}


.current-session{
    opacity:1 !important;
}

/*Video Section*/
.main-video{
      position: relative;
      overflow-y: hidden;
      color: white;
      height: 100vh;
      overflow-x:hidden;

}
video { 
      position: absolute;
      top: -10vh;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -100;
      width: auto;
      height: auto;
      transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.1);
  /*color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;*/
}

#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}

/*Play pause button*/
.play-pause{
    position:absolute;
    right:0;
}

.play-pause-border{
    border-radius: 50%;
    display: initial;
    border: 1px solid;
    padding:8px;
    background: rgba(255,255,255,0.23);
    transition: .3s background;
}
.play-pause-border:hover{
    background: rgba(0,0,0,0.5);
}
.play-pause-border i{
    margin-left: 3px;
}
.btn-play i{
    margin-left: 2px;
}
.play{
    display:none;
}

 /*Section green*/
 .green-natural{
     height:100vh;
     background-image: url(images/green_leaves.png), url(images/bg-sec2.jpg);
     background-repeat:no-repeat, no-repeat;
     background-size:cover, cover;
     background-color:beige;
 }

/*Standard check break point*/

@media (max-width:767px) {
  /*Video seciton*/
       video{
               width:100%;
               top:0vh;
     }
}

@media (min-width:768px) and (max-width:991px) {
    /*Video seciton*/
       video{
               width:100%;
             top:0vh;
     }
}

@media (min-width:992px) and (max-width:1199px) {
    /*Video seciton*/
       video{
               width:100%;
                top:0vh;
     }
}

@media (min-width:1200px) {
         video{
               min-height: 100%;
               min-width: 100%;
     }
}